.text-small {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.text-small_bold {
  font-weight: 700;
}

.text-normal {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.text-normal_mob {
  font-size: 16px;
  line-height: 24px;
}
